<div class="user-name-autocomplete">
  <textarea #input [hidden]="showUserAutocomplete" [(ngModel)]="text" (keyup)="onKeyPress($event)">
  </textarea>
  <app-autocomplete *ngIf="showUserAutocomplete"
                    [data]="data"
                    (on-close)="onAutocompleteClose()"
                    (on-select)="onAutocompleteSelect($event)"
                    ></app-autocomplete>
</div>
