<div class="autocomplete">
  <div class="input">
    <input type="text"
           #input
           [ngModel]="query"
           (ngModelChange)="onInputModelChange($event)"
           (keyup)="onKeyUp($event)"
           autofocus>
    <b (click)="onClose()">x</b>
  </div>
  <div class="item-list">
    <span *ngIf="query === ''">Type to Select User</span>
    <div class="item" *ngFor="let item of items" (click)="itemSelected(item)">
      <div class="photo">
        <img [src]="item.avatar_url">
      </div>
      <div class="name">
        <i>{{item.username}}</i><br/>
        <b>{{item.name}}</b>
      </div>
    </div>
  </div>
</div>
