.autocomplete {
  height: 100%;
  width:100%;
  background: white;

  .input {
    input {
      width: 95%;
      border: none;
      outline: none;
    }
    b{
      cursor: pointer;
    }
    border-bottom: 1px solid #dddddd;
  }

  .item-list {
    max-height: 280px;
    overflow-y: scroll;

    .item {
      cursor: pointer;
      display: flex;
      padding: 0.25rem;
      border-bottom: 1px solid #dddddd;

      &:hover {
        background: azure;
      }

      .photo {
        margin-right: 0.5rem;
        position: relative;
        top: 0.125rem;

        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }

      .name {
        position: relative;
        top: -0.125rem;
      }
    }
  }

}
